@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    line-height:1.67em
}

.content-box {
    padding: 70px 0px;
}

.hero-btn {
    background-color: #222;
    color: #fff;
    padding: 14px 28px;
    border: 1px solid #222;
    font-size: 14px;
}

.custom-btn {
    padding: 14px 32px 14px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    line-height: 2em;
    font-weight: 500;
}

.arrow {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.sub-head {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

/*==================navigation==================*/
header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .nav-left {
    padding: 10px 14px;
    background-color: #8EE3BB;
}

.nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav ul li {
    margin: 8px 10px;
}

.nav ul li a {
    color: #171717;
    font-size: 21px;
    font-style: italic;
}

.nav-right a {
    font-size: 21px;
    padding: 8px 10px;
    color: #171717;
}

/*==================hero section==================*/
.slick-next {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #8EE3BB;
    color: #333;
    font-size: 14px;
    border: none;
    padding: 18px 26px;
    font-weight: 500;
}

.slick-prev {
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: #8EE3BB;
    color: #333;
    font-size: 14px;
    border: none;
    padding: 18px 26px;
    font-weight: 500;
    z-index: 10;
}

.hero {
    width: 100%;
    height: 100vh;
}

.hero-slider {
    width: 100%;
}

.hero-slider .slider-1,
.hero-slider .slider-2,
.hero-slider .slider-3 {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero-slider .slider-1 {
    background-color: #FFE399;
}

.hero-slider .slider-2 {
    background-color: #8EE3BB;
}

.hero-slider .slider-3 {
    background-color: #FFD0BA;
}

.hero-slider .slider-1 .inner-left {
    background: url(../assets/images/banner/banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-slider .slider-2 .inner-left {
    background: url(../assets/images/banner/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-slider .slider-3 .inner-left {
    background: url(../assets/images/banner/banner-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-slider .slider-1 .inner-left,
.hero-slider .slider-2 .inner-left,
.hero-slider .slider-3 .inner-left {
    width: 60%;
}

.hero-slider .slider-1 .inner-right,
.hero-slider .slider-2 .inner-right,
.hero-slider .slider-3 .inner-right {
    width: 40%;
}

.hero-slider .slider-1 .inner-right .text {
    width: 100%;
    padding: 40px 30px 0 30px;
}

.number {
    font-size: 18px;
    color: #272727;
    font-style: italic;
}

.hero-slider .slider-1 .inner-right .text h2 {
    font-size: 34px;
    font-weight: bold;
    color: #171717;
    margin: 10px 0 12px 0;
}

.hero-slider .slider-1 .inner-right .text p {
    margin: 20px 0;
    line-height: 26px;
    color: #2b2b2b;
}

.hero-slider .slider-1 .inner-right .text button {
    font-style: italic;
}

.hero-slider .slider-1 .inner-right .text button:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, .5);
    box-shadow: 2px 2px 8px rgba(1, 1, 1, .5);
}

#arrow:hover {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hero-slider .slider-1 .inner-right .map {
    width: 100;
    margin-top: 50px;
}

.hero-slider .slider-1 .inner-right .map ul li {
    margin: 0 8px;
}

.hero-slider .slider-1 .inner-right .map ul li a {
    font-size: 14px;
    color: #2B2B2B;
}

.hero-slider .slider-1 .inner-right .map ul li a i {
    color: #2B2B2B;
    font-size: 16px;
    margin: 0 4px;
}

/*==================course section==================*/
.course-left .header {
    width: 100%;
}

.course-left .header h2 {
    font-weight: 500;
    letter-spacing: -.005em;
    color: #171717;
    font-size: 50px;
    line-height: 1.12em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.course-left .header p{
margin: 10px 0 34px;
    line-height: 1.67em;
    color: #2b2b2b;
    font-size: 18px;
}
.course-left .header a{
    color: #fff;
    background-color: #171717;
}
.course-right .course-box{
    border: 1px solid #f4f4f4;
    margin: 14px 8px;
    padding: 10px;
}
.course-right .course-box h3{
    font-size: 23px;
    margin: 14px 0;
    text-align: left;
    color: #2b2b2b;
}
.course-right .course-box p{
    margin: 0 0 13px;
    color: #2b2b2b;
}
.course-right .course-box a{
    font-size: 18px;
    color: #171717;
    margin: 0 0 28px;
    font-weight: 400;
    font-style: italic;
}
/*==================latest video section==================*/
#latest-tut{
    background-color: #FDEAE0;
    width: 100%;
}
.latest-tut .head h2{
    font-weight: 500;
    letter-spacing: -.005em;
    color: #171717;
    font-size: 50px;
    line-height: 1.12em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
}
.item-video .meta span{
    font-size: 18px;
    margin: 20px 0;
    font-style: italic;
    color: #2b2b2b;
}
.item-video .meta h3{
    font-size: 21px;
    color: #171717;
    margin-bottom: 14px;
}
.item-video .meta a{
    font-size: 18px;
    color: #171717;
    font-style: italic;
}
.footer-container{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*footer*/
.footer-container .footer-left{
    width: 33.33%;
    padding: 80px 90px;
    background-color: #fdeae0;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-container .footer-left h3{
    font-weight: 600;
    letter-spacing: -.005em;
    color: #171717;
    font-size: 28px;
    line-height: 1.21em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.footer-container .footer-left p{
    font-size: 16px;
    margin: 10px 0;
}
.footer-container .footer-left a{
    font-size: 16px;
    margin: 10px 0;
    color: #171717;
    text-decoration: underline;
}
.footer-container .footer-middle{
    width: 33.33%;
}
.footer-container .footer-right{
    width: 33.33%;
    padding: 80px 90px;
    background-color: #FFE399;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-container .footer-right h3{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    letter-spacing: -.005em;
    color: #171717;
    font-size: 26px;
    line-height: 1.21em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.footer-container .footer-right .input input{
    width: 100%;
    outline: none;
    border: none;
    margin: 10px 0 20px 0;
    padding: 12px 4px;
    text-align: left;
}
.footer-container .footer-right .input button{
    background-color: #171717;
    color: #fff;
}
.footer-text p{
    font-size: 13px;
    margin-top: 10px;
    color: #171717;
    text-decoration: underline;
}
.footer-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-logo img{
    padding: 8px 10px;
    background-color: #8EE3BB;
}
.footer-logo h3{
    margin-top: 10px;
    margin-left: 25px;
    color: #171717;
    font-size: 21px;
}